<div id="bookmarks-container" class="bookmarks-container">
    <div class="header">
        <h2>My Bookmarks</h2>
        <button id="signOutBtn" class="btn btn-outline-secondary">Sign Out</button>
    </div>
    <div class="add-bookmark">
        <input type="text" id="bookmarkTitle" placeholder="Title">
        <input type="url" id="bookmarkUrl" placeholder="URL">
        <button id="addBookmarkBtn" class="btn btn-outline-success">Add Bookmark</button>
    </div>
    <div id="bookmarksList" class="bookmarks-list">
        <!-- Bookmarks will be inserted here -->
    </div>
</div>
