<!-- Auth Forms -->
<div id="auth-container" class="auth-container border border-dark">
    <h1>PageVault</h1>
    
    <div class="auth-form">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
            <label for="email">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        
        <div class="d-grid gap-2">
            <button class="btn btn-outline-.success mt-3" id="signInBtn" type="button">Sign In</button>
        </div>
    </div>
    
</div>
